<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CropSmart - About</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/aboutpagestyle.css') }}"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,500&family=Roboto:ital,wght@0,300;1,300;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <header class="header">
      <a href="#" class="logo">CropSmart</a>

      <input type="checkbox" id="check" />
      <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
      </label>

      <nav class="navbar">
        <a href="#" class="home" style="--i: 0" onclick="movehome()">Home</a>
        <a href="#" class="home" style="--i: 1" onclick="movecrop()"
          >Crop Recommendation</a
        >
        <a href="#" class="home" style="--i: 2" onclick="moveweed()"
          >Weed Identification</a
        >
        <a href="#" class="home" style="--i: 2" onclick="movepest()">Pest Identification</a>
      </nav>
    </header>

    <section class="display" style="display: flex; flex-direction: column">
      <section class="devcon">
        <h2>Our Aim!</h2>
        <span>The aim of our project is to enhance agricultural practices by developing a Smart Farming Assistant that utilizes machine learning techniques. This assistant aims to support agricultural students and farmers by providing crop suitability predictions, pest and weed identification through image recognition.
        The ultimate goal is to empower farmers with the tools for informed decision-making, leading to optimal resource usage and sustainable agriculture.</span>

        <h2>Our Team</h2>
        <div class="team-container">
          <div class="team-member">
            <h3>Fadilah Thasnim Abdul Kareem</h3>
          </div>
          <div class="team-member">
            <h3>N J Dinakaran</h3>
          </div>
          <div class="team-member">
            <h3>Romi Roy</h3>
          </div>
        </div>

        <h2>Indian Government Subsidies</h2>
        <div class="table-container">
          <table class="content-table">
              <thead>
                  <tr>
                      <th>Scheme Name</th>
                      <th>Type of Subsidy</th>
                      <th>Scheme Details</th>
                      <th>How to Avail</th>
                      <th>Natural Disaster Relief</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Pradhan Mantri Kisan Samman Nidhi (PM-KISAN)</td>
                      <td>Direct Income Support</td>
                      <td>Under PM-KISAN, eligible farmers receive financial assistance of Rs. 6,000 per year in three equal installments.</td>
                      <td>Farmers can apply online through the PM-KISAN portal or visit nearby Common Service Centers (CSCs).</td>
                      <td>In case of natural disasters, additional assistance is provided as part of relief measures by the government.</td>
                  </tr>
                  <tr>
                      <td>Pradhan Mantri Fasal Bima Yojana (PMFBY)</td>
                      <td>Crop Insurance</td>
                      <td>PMFBY provides crop insurance coverage and financial support to farmers in case of crop failure due to natural calamities, pests, or diseases.</td>
                      <td>Farmers can enroll through their respective banks, Common Service Centers (CSCs), or insurance company agents.</td>
                      <td>In the event of a natural disaster, the insurance covers losses, and the government provides additional assistance for recovery.</td>
                  </tr>
                  <tr>
                      <td>Rashtriya Krishi Vikas Yojana (RKVY)</td>
                      <td>Infrastructure Development</td>
                      <td>RKVY aims to enhance the overall growth rate of agriculture and allied sectors by providing grants for infrastructure and capacity building.</td>
                      <td>States prepare annual action plans and submit proposals to the Ministry of Agriculture for approval and funding.</td>
                      <td>States can allocate funds from RKVY for rehabilitation and reconstruction efforts after natural disasters affecting agriculture.</td>
                  </tr>
                  <tr>
                      <td>Kisan Credit Card (KCC) Scheme</td>
                      <td>Credit Facility</td>
                      <td>KCC provides farmers with timely access to credit for their agricultural and allied activities at subsidized interest rates.</td>
                      <td>Farmers can apply through participating banks by providing necessary documents such as land records and identification.</td>
                      <td>In case of crop loss due to natural disasters, the KCC scheme ensures farmers have access to credit for recovery and reconstruction.</td>
                  </tr>
                  <tr>
                      <td>Pradhan Mantri Krishi Sinchayee Yojana (PMKSY)</td>
                      <td>Irrigation Infrastructure</td>
                      <td>PMKSY aims to improve irrigation efficiency and water use through the development of water resources, efficient water distribution, and farm-level water management.</td>
                      <td>Farmers can access subsidies for various components like micro-irrigation, water harvesting, and command area development through government schemes and agencies.</td>
                      <td>In the event of a natural disaster, the insurance covers losses, and the government provides additional assistance for recovery.</td>
                  </tr>
              </tbody>
          </table>
      </div>
      </section>
      <!-- crop display -->
      <section class="container">
        <h2>Our Crop Dataset!</h2>
        <div class="new-container">
          <div class="left">
            <img
              id="crop-image"
              src="static/img/banana.jpg"
              alt="Image not avaliable"
              src=""
              class="img-side"
              alt=""
            />
          </div>
          <div class="right">
            <div class="card-content">
              <h1 id="crop-title">Crop Name</h1>
              <p id="crop-description">Crop Description</p>
              <button onclick="getinfo()">Get More Details</button>
            </div>
          </div>
          <a class="prev" id="pbutton">&#10094;</a>
          <a class="next" id="nbutton">&#10095;</a>
        </div>
      </section>

      <!-- Pest weed display -->
      <section
        class="imageds"
        style="
          width: 100%;
          max-width: 90%;
          display: flex;
          flex-direction: row;
          margin: auto;
          margin-top: 20px;
          gap: 20px;
        "
      >
        <section class="pestcontainer">
          <h2>Our Pest Dataset!</h2>
          <div class="pestnew-container">
            <div class="pestup">
              <img
                id="pest-image"
                alt="Image not avaliable"
                src="static/img/banana.jpg"
                class="pestimg-side"
                alt=""
              />
            </div>
            <div class="pestdown">
              <div class="pestcard-content">
                <p id="pestname" style="display: none"></p>
                <h1 id="pest-title">Pest Name</h1>
                <p id="pest-description">Pest Description</p>
                <button onclick="getpestinfo()">Get More Details</button>
              </div>
            </div>
            <a class="pestprev" id="ppestbutton">&#10094;</a>
            <a class="pestnext" id="npestbutton">&#10095;</a>
          </div>
        </section>

        <!-- Weed container -->
        <section class="weedcontainer">
          <h2>Our Weed Dataset!</h2>
          <div class="weednew-container">
            <div class="weedup">
              <img
                id="weed-image"
                alt="Image not avaliable"
                src="static/img/banana.jpg"
                class="weedimg-side"
                alt=""
              />
            </div>
            <div class="weeddown">
              <div class="weedcard-content">
                <p id="weedname" style="display: none"></p>
                <h1 id="weed-title">Weed Name</h1>
                <p id="weed-description">Weed Description</p>
                <button onclick="getweedinfo()">Get More Details</button>
              </div>
            </div>
            <a class="weedprev" id="pweedbutton">&#10094;</a>
            <a class="weednext" id="nweedbutton">&#10095;</a>
          </div>
        </section>
      </section>
    </section>
  </body>

  <script>
    function movehome() {
      window.location.href = `index`;
    }

    function movecrop() {
      const cityValue = "chennai";
      const encodedCityValue = encodeURIComponent(cityValue);
      window.location.href = "/crop_predict?city=" + encodedCityValue;
    }
    function getinfo() {
      name = document.getElementById("crop-title").innerText;
      const encodedcropname = encodeURIComponent(name);
      console.log(name);
      window.location.href = "/crop_move?crop=" + encodedcropname;
    }
    function getweedinfo() {
      weed = document.getElementById("weedname").innerText;
      const encodedweedname = encodeURIComponent(weed);
      window.location.href = "/weed_resultmove?weed=" + encodedweedname;
    }
    function getpestinfo() {
      pest = document.getElementById("pestname").innerText;
      console.log(pest);
      const encodedpestname = encodeURIComponent(pest);
      window.location.href = "/pest_resultmove?pest=" + encodedpestname;
    }

    function moveweed() {
      window.location.href = `weed_predict`;
    }
    function movepest(){
window.location.href = "pest_predict";
}

  </script>
  <script src="{{ url_for('static', filename='js/aboutscript.js') }}"></script>
</html>
