<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        CropSmart - Weed Prediction
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/weed_predictstyle.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,500&family=Roboto:ital,wght@0,300;1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>

    <body>
        <header class="header">
            <a href="#" class="logo">CropSmart</a>

            <input type="checkbox" id="check">
            <label for="check" class="icons">
                <i class="bx bx-menu" id="menu-icon"></i>
                <i class="bx bx-x" id="close-icon"></i>
            </label>

            <nav class="navbar">
                <a href="#" class="home" style="--i:0" onclick="movehome()">Home</a>
                <a href="#" class="home" style="--i:1" onclick="movecrop()">Crop Recommendation</a>
                <a href="#" class="home" style="--i:2" onclick="movepest()">Pest Identification</a>
            </nav>
          </header>
          <div class="hero">
            <div class="showtext">
            <h2>Weed Prediction Page</h2>
            <h4>Welcome to the Weed Prediction Page. Here, you can upload an image of a weed to identify its details and get information on how to manage it effectively</h4>
            <p><b id="headd">How to Use:</b><br>

                <b>Upload Image:</b>  Use the form below to upload a clear image of the weed you want to identify.<br>
                <b>Get Results:</b> Once you upload the image, our system will analyze it and provide information about the weed.
           <br> <b>Note:</b> Make sure the image is clear and focused for accurate identification.</p>
            </div>
            <br>
            <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data" id="drop-area">
                <label for="input-file">
                    <input type="file" name="my_image" accept="image/*" capture="camera" id="input-file" hidden>
                    <div id="img-view">
                        <i class='bx bxs-cloud-upload' id="upload-icon"></i>
                        <p>Drag and drop or click here<br>to upload image</p>
                        <span>Upload any images from desktop</span>
                    </div>
                </label>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </body>
    
    <script>
    function getCityFromUrl() {
        const params = new URLSearchParams(window.location.search);
        return params.get('city');
    }
    var city=""
    window.onload = function() {
        city = getCityFromUrl();
    };


    function movehome() {
        window.location.href = 'index';
    }

    function movepest() {
        window.location.href = `pest_predict`;
    }

    function movecrop() {
    const cityValue = "chennai"
    const encodedCityValue = encodeURIComponent(cityValue);
    window.location.href = "/crop_predict?city=" + encodedCityValue;
    }
    const dropArea = document.getElementById('drop-area');
    const inputFile = document.getElementById('input-file');
    const imageView = document.getElementById('img-view');
    
    inputFile.addEventListener("change", uploadImage);
    
    function uploadImage() {
        let imgLink = URL.createObjectURL(inputFile.files[0]);
        imageView.style.backgroundImage = `url(${imgLink})`;
        imageView.textContent = "";
        imageView.style.border = 0;
    }
    
    dropArea.addEventListener("dragover", function(e) {
        e.preventDefault();
    });
    
    dropArea.addEventListener("drop", function(e) {
        e.preventDefault();
        inputFile.files = e.dataTransfer.files;
        uploadImage();
    });
    </script>
</html>